<h3>Listado de Heroes</h3>
<h3 *ngIf="heroeBorrao; else nadaBorrao">Heroe bora'o: {{ heroeBorrao }}</h3>

<ng-template #nadaBorrao>
  <h3 *ngIf="!heroeBorrao">No borré na, posta'.</h3>
</ng-template>

<button *ngIf="heroesList.length > 0" class="btn btn-outline-danger" (click)="deleteHero()">Delete Last Action Hero</button>

<ul class="list-group mt-2">
  <li class="mt-2 list-group-item" *ngFor="let hero of heroesList">- {{ hero }} -</li>
  <!-- <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Batman</li>
  <li class="list-group-item">Thor</li>
  <li class="list-group-item">Supercan</li> -->
</ul>
